---
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";
import Pagination from "../../components/Pagination.astro";

import { formatBlogPosts } from "../../js/utils";

export async function getStaticPaths({ paginate }) {
  const allPosts = await Astro.glob("./*.md");
  const posts = formatBlogPosts(allPosts);

  return paginate(posts, { pageSize: 1 });
}

const { page }: { page: { data: any; url: any } } = Astro.props;
console.log(page);
---

<MainLayout title="Blog - Sergio Estrella">
  <section class="container" aria-label="New Blog posts">
    <h1 class="h1">Últimos posts</h1>
    <div class="post-container">
      {
        page.data.map((post) => (
          <PostCard
            frontmatter={post.frontmatter}
            url={post.url}
            tagType="h3"
          />
        ))
      }
    </div>
    <Pagination prev={page.url.prev} next={page.url.next} />
  </section>
</MainLayout>
