---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
---

<MainLayout title="P치gina no encontrada" description="P치gina no encontrada">
  <div
    class="container"
    style={{
      display: "grid",
      placeItems: "center",
      textAlign: "center",
      gap: "var(--space-sm)",
    }}
  >
    <h1 class="h1">Este no lo encontramos...</h1>
    <p>La p치gina que buscas no existe, o est치 en otro lado</p>
    <Link
      text="Volver al inicio"
      href="/"
      style="primary"
      icon={{ name: "mdi:home", side: "left" }}
      }}
    />
  </div>
</MainLayout>
