---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import ExperienceItem from "../components/ExperienceItem.astro";
import Icon from "astro-icon";
import Projects from "../components/Projects.astro";

const workExperience = [
  {
    title: "Fullstack Developer - Selaski",
    period: "Noviembre 2022 - Actualidad",
    description:
      "Trabajo haciendo el comercio exterior más barato y fácil para las empresas. Creo features clave usando Angular, Nest.js, MySQL, TailwindCSS, AWS, entre otras tecnologías.",
    link: "https://selaski.com",
  },
  {
    title: "Mentor, Líder - Backbone",
    period: "Agosto 2022 - Actualidad",
    description:
      "Ayudo a los estudiantes a mejorar sus habilidades de programación y desarrollo web. También buscamos promover el uso de herramientas Open Source y la comunidad de software libre.",
    link: "https://instagram.com/backboneutp",
  },
  {
    title: "Profesor - Platzi",
    period: "Febrero 2023",
    description:
      "Enseño acerca de Performance Testing con K6 en Platzi, con una calificación de 4.5/5.0 por parte de +200 estudiantes.",
    link: "https://platzi.com/profes/sergioestrella",
  },
  {
    title: "Web UI Developer - Globant",
    period: "Julio 2021 - Junio 2022",
    description:
      "Trabajé en una plataforma de streaming con +25M de usuarios, creando una suite completa de pruebas de carga y performance con K6 además de observabilidad con New Relic, logrando reducir el tiempo de respuesta de la API en un 50%.",
  },
];
---

<MainLayout title="Acerca - Sergio Estrella (Djkde)">
  <section class="container about" aria-label="About Me">
    <img
      src="/images/profile.jpeg"
      alt="Sergio Estrella"
      width="300"
      height="300"
    />
    <div class="content">
      <h1>Hola! <span aria-hidden="true">👋</span></h1>
      <p>
        ¡Que bueno verte! Soy Sergio Estrella, también conocido en internet como
        Djkde, un
        <span class="focus-primary">Desarrollador Web</span> con
        <span class="focus-primary"> +3 años de experiencia</span>.
        <br />
        <br />
        Mi misión es mejorar la vida de las personas a través de la tecnología y
        en mi tiempo libre comparto mi conocimiento en lugares como este blog.
        <br />
        <br />
      </p>
      <span class="contact">
        <Link
          text=""
          href="https://linkedin.com/in/djkde"
          style="primary"
          icon={{ name: "mdi:linkedin", side: "left" }}
        />
        <Link
          text=""
          href="https://twitter.com/djkde"
          style="primary"
          icon={{ name: "mdi:twitter", side: "left" }}
        />
        <Link
          text=""
          href="https://github.com/Djkde01"
          style="primary"
          icon={{ name: "mdi:github", side: "left" }}
        />
        <Link
          text=""
          href="mailto:djkde.co@gmail.com"
          style="primary"
          icon={{ name: "mdi:email", side: "left" }}
        />
      </span>
    </div>
  </section>
  <section class="container experience">
    <span class="title">
      <Icon name="mdi:briefcase" width="40" height="40" />
      <h2 class="h2">Mi Experiencia</h2>
    </span>
    <ol>
      {
        workExperience.map((experience) => (
          <li>
            <ExperienceItem {...experience} />
          </li>
        ))
      }
    </ol>
  </section>
  <section class="container projects">
    <span class="title">
      <Icon name="mdi:code-tags" width="40" height="40" />
      <h2 class="h2">Mis proyectos</h2>
    </span>
    <Projects />
  </section>
</MainLayout>
