---
import { formatBlogPosts, slugify } from "../js/utils";

const allPosts = await import.meta.glob("../pages/blog/*.md");
const posts = formatBlogPosts(allPosts);

const categories = posts
  .map((post) => post.frontmatter.category.toLowerCase())
  .flat();

const uniqueCategories = categories.reduce((acc, curr) => {
  const value = acc[curr] || 0;

  return { ...acc, [curr]: value + 1 };
}, []);

const { withCount } = Astro.props;
---

<ul class="categories">
  {
    Object.entries(uniqueCategories).map(([category, count]) => (
      <li>
        <a href={`/category/${slugify(category)}`} class="badge">
          {category} {withCount && `(${count})`}
        </a>
      </li>
    ))
  }
</ul>
