---
import { Icon } from "astro-icon/components";
---

<footer>
  <div>
    <small
      >&copy; <span id="year"></span> - Made with <span class="heart"
        >&hearts;</span
      > by <a href="https://linkedin.com/in/djkde">Djkde</a></small
    >
    <small
      ><a href="/rss.xml">
        Suscribete al feed RSS
        <Icon name="mdi:rss" width={20} height={20} />
      </a></small
    >
  </div>
</footer>

<script>
  document.querySelector("#year").textContent = new Date()
    .getFullYear()
    .toString();
</script>
